<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
    <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
    {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
    </optgroup>{% endif %}{% endfor %}
</select>

<script type="text/javascript">
    (function($) {
        $(document).ready(function() {

            /**
             * Enable support to html responses in select2.
             */
            function formatResult(state) {
                if (state.display) {
                    return $('<span>' + state.display + '</span>');
                }

                return state.text;
            }

            $("#id_{{ widget.name }}").select2({
                templateResult: formatResult,
                ajax: {
                    url: "{{ widget.url }}",
                    dataType: "json",
                    type: "GET"
                },
                minimumInputLength: {{ widget.minimum_input_length|default:'null' }},
                width: "element"
            });

            $("#id_{{ widget.name }}").on('select2:select', function () {
                /**
                 * Add django related functions support.
                 * Grant to show the related actions to model object,
                 * add, change and delete.
                 */
                updateRelatedObjectLinks($(this));
            });

        });
    }(jQuery));
</script>