{% if widget.value %}<p class="url">{{ current_label }} <a href="{{ widget.href }}">{{ widget.original }}</a><br>{{ change_label }} {% endif %}
<span class="input-group">
    <span class="input-group-addon">{{ root_url }}</span>
    {% include "django/forms/widgets/input.html" %}
</span>
{% if widget.value %}</p>{% endif %}
