{% extends "admin/change_list.html" %}

{% load i18n admin_list pxadmin %}

{% block object-tools-items %}
    {# load all tools created on admin site #}
    {% for tool in object_tools %}{{ tool|safe }}{% endfor %}

    {# load defaults #}
    {{ block.super }}
{% endblock %}


{% block filters %}
    <div class="change-list-widgets">
        {% if cl.has_filters %}
            <div class="change-list-widget">
                <h2>{% trans 'Filter' %}</h2>
                {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
            </div>
        {% endif %}

        {% for widget in changelist_widgets %}
            <div class="change-list-widget widget-{{ widget.name }}">
                <h2>{{ widget.title }}</h2>
                {% changelist_widget widget %}
            </div>
        {% endfor %}
    </div>
{% endblock %}