#content-related {
  float: right;
  width: 260px;
  position: relative;
  margin-right: -300px;
  background: transparent;

  > .module {
    background: #f8f8f8;
    padding-bottom: 15px;

    ul.links {
      > li {
        list-style: none;
        & + li {
          margin-top: 5px;
        }
      }
    }
  }
}

a {
  &:link, &:visited {
    color: $link_color;
  }

  &:focus, &:hover {
    color: $link_hover_color;
  }
}


body.server-stage {
  border-top: 14px solid $bar-color-stage;
}


body.server-development {
  border-top: 14px solid $bar-color-development;
}


#header {
  position: relative;

  .version {
    position: absolute;
    bottom: 0;
    right: 40px;
    font-size: 10px;
    line-height: 10px;
    padding: 5px 0;
    font-weight: 100;
  }
}