#changelist-filter li {

  a:hover, a:focus, &.selected a {
    color: $primary-color;

    &:hover, &:focus {
      color: darken($primary-color, 8%);
    }
  }

}

.object-tools a:link, .object-tools a:visited {
  &:hover, &:focus {
    background-color: $primary-color;
  }
}

fieldset.collapsed .collapse-toggle {
  color: $primary-color;
}


.change-list-widgets {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 240px;

  > .change-list-widget {
    position: relative !important;
    background: #f8f8f8;
    border-left: none;
    margin: 0;
    padding-bottom: 10px;

    & + .change-list-widget {
      margin-top: 30px;
    }

    h2 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      padding: 5px 15px;
      margin-bottom: 12px;
      border-bottom: none;
    }

    h3 {
      font-weight: 400;
      font-size: 14px;
      padding: 0 15px;
      margin-bottom: 10px;
    }

    ul {
      margin: 5px 0;
      padding: 0 15px 15px;
      border-bottom: 1px solid #eaeaea;

      li {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;

        a {
          display: block;
          color: #999;
          text-overflow: ellipsis;
          overflow-x: hidden;
        }

        &.selected {
          border-left: 5px solid $primary-color;
          padding-left: 10px;
          margin-left: -15px;

          a {
            color: #5b80b2;
          }
        }

        a:focus, a:hover,
        &.selected a:focus,
        &.selected a:hover {
          color: #036;
        }
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

}