.dropdown {
  position: relative;

  > .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9999;
    display: none;
    float: left;
    min-width: 170px;
    padding: 5px 0;
    margin: 15px 0 0;
    font-size: 14px;
    color: #333;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:after,
    &:before {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-bottom-color: #fff;
      right: 25px;
      border-width: 5px;
      margin-left: -5px;
    }

    &:before {
      right: 23px;
      border-bottom-color: #ccc;
      border-width: 7px;
      margin-left: -7px;
    }

    > li {
      position: relative;
      float: none;
      display: block;
      height: auto;
      margin: 0;

      > a {
        position: relative;
        display: block;
        float: none;
        padding: 5px 15px;
        clear: both;
        font-weight: 400;
        color: #333;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        border-radius: 0;

        &:hover,
        &:focus {
          background: $primary-color;
          color: white;
        }
      }
    }
  }
}