.form-row input:focus,
.form-row select:focus,
#changelist .actions select:focus,
#changelist #toolbar form #searchbar:focus,
.form-row textarea:focus {
  border-color: $primary-color;
  outline: none;
}

.button.default,
input[type=submit].default,
.submit-row input.default {
  background: $primary-color;

  &:hover, &:focus {
    background: darken($primary-color, 8%);
  }
}

.button,
input[type=submit],
input[type=button],
.submit-row input,
a.button {
  background: lighten($primary-color, 8%);

  &:hover, &:focus {
    background: $primary-color;
  }
}

// - Selector Component
//

.selector {

  .selector-available {

    > h2 {
      border-radius: 0;
    }

    .selector-filter {
      position: relative;

      > input[type="text"] {
        border-radius: 0;
        border: 0 none;
      }
    }

    > select {
      height: 14em;
    }

  }

  .selector-chosen {

    > h2 {
      border-radius: 0;
      background: $selector-selected-header-bg;
      color: $selector-selected-header-color;
    }

  }

}

// - Input Group
//

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;

  > .input-group-addon {
    display: table-cell;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-width: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    & + .input {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }

  }

  > .input {
    display: table-cell;
    width: 20em;
  }

}