#header {
  background: $header-bg;
  color: $header-color;

  #branding > #site-name {
    a {
      display: flex;
      align-items: center;

      &:hover,
      &:focus {
        color: $header-color;
        border-bottom-color: $header-color;
      }

      > img {
        width: $header-brand-width;
      }
    }
  }
}