#changelist .paginator {
  a {
    background: $paginator-bg;
    text-decoration: none;
    color: $paginator-color;

    &:hover, &:focus {
      background: $paginator-hover-bg;
      color: $paginator-hover-color;
    }
  }

  a.showall {
    padding: 0;
    border: none;
    background: none;
    color: $link_color;

    &:focus, &:hover {
      background: none;
      color: $link_hover_color;
    }
  }
}