.admin-shortcuts .shortcuts {
  background: $admin-shortcuts-bg;
  padding: 10px 40px;
  margin: 0; list-style: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2) inset;

  @media (max-width: 1024px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &::after, &::before {
    content: ' ';
    display: table;
    clear: both;
  }

  > li {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;

    > a {
      padding: 20px 0 20px 55px;
      margin: 5px 10px 5px 0;
      display: block;
      float: left;
      color: $admin-shortcuts-item-color;
      border: 1px solid $admin-shortcuts-item-border;
      background: $admin-shortcuts-item-bg;
      font-size: 14px;
      line-height: 14px;
      border-radius: 3px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
      position: relative;
      min-height: 14px;

      &.active, &:hover, &:focus{
        color: $admin-shortcuts-item-hover-color;
        background: $admin-shortcuts-item-hover-bg;
        border-color: $admin-shortcuts-item-hover-border;
      }

      .shortcut-title {
        display: inline-block;
        margin-right: 20px;
      }

      .shortcut-icon {
        width: 34px;
        height: 32px;
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        position: absolute;
        left: 10px;
        top: 10px;
        color: rgba(255,255,255,0.8);
      }
    }
  }
}