.progress {
  background: #DEDEDE;
  height: 10px;
  width: 100%;
  padding: 2px;
  margin-top: 10px;

  .progress-bar {
    content: '';
    display: block;
    background: $primary-color;
    height: 100%;
    color: white;
  }
}