//
// Variables
// --------------------------------------------------

//== Colors
//
//## Default colors to apply into project.

$primary-color: #2b2626 !default;
$primary-color-light: lighten($primary-color, 2%) !default;

$bar-color-stage: lighten($primary-color, 8%) !default;
$bar-color-development: lighten($primary-color, 8%) !default;

$link_color: #1F4478 !default;
$link_hover_color: darken($link_color, 16%) !default;


//== Header
//
//## Define the header settings.

$header-bg: $primary-color !default;
$header-color: white !default;
$header-brand-width: 100px !default;


//== Breadcrumbs
//
//##

$breadcrumbs-bg: $primary-color-light !default;
$breadcrumbs-color: desaturate(lighten($breadcrumbs-bg, 30%), 30%) !default;
$breadcrumbs-link-color: white !default;


//== Module
//
//##

$module-header-bg: $primary-color-light !default;
$module-header-color: white !default;


//== Pagination
//
//##

$paginator-bg: $primary-color !default;
$paginator-color: white !default;

$paginator-hover-bg: darken($paginator-bg, 8%) !default;
$paginator-hover-color: white !default;


//== Admin Shortcuts
//
//##

$admin-shortcuts-bg: darken($primary-color, 8%) !default;
$admin-shortcuts-item-bg: darken($primary-color, 5%) !default;
$admin-shortcuts-item-color: white !default;
$admin-shortcuts-item-border: $admin-shortcuts-bg !default;

$admin-shortcuts-item-hover-bg: lighten($primary-color, 5%) !default;
$admin-shortcuts-item-hover-color: white !default;
$admin-shortcuts-item-hover-border: $admin-shortcuts-item-hover-bg !default;


//== Selector
//
//## Customize form selector component

$selector-selected-header-bg: $primary-color !default;
$selector-selected-header-color: white !default;
