/*!
 * Django Pixelwolf theme
 * Copyright 2019 Pixelwolf.
 * Licensed under MIT (https://opensource.org/licenses/MIT)
 */
/* __variables__ */
div.breadcrumbs {
  background: #302b2b;
  color: #7a7a7a; }
  div.breadcrumbs a:link, div.breadcrumbs a:visited {
    color: white;
    text-decoration: none;
    font-weight: normal; }

#changelist-filter li.selected {
  border-left-color: #2b2626; }
#changelist-filter li a:hover, #changelist-filter li a:focus, #changelist-filter li.selected a {
  color: #2b2626; }
  #changelist-filter li a:hover:hover, #changelist-filter li a:hover:focus, #changelist-filter li a:focus:hover, #changelist-filter li a:focus:focus, #changelist-filter li.selected a:hover, #changelist-filter li.selected a:focus {
    color: #151313; }

.object-tools a:link:hover, .object-tools a:link:focus, .object-tools a:visited:hover, .object-tools a:visited:focus {
  background-color: #2b2626; }

fieldset.collapsed .collapse-toggle {
  color: #2b2626; }

.form-row input:focus,
.form-row select:focus,
#changelist .actions select:focus,
#changelist #toolbar form #searchbar:focus,
.form-row textarea:focus {
  border-color: #2b2626;
  outline: none; }

.button.default,
input[type=submit].default,
.submit-row input.default {
  background: #2b2626; }
  .button.default:hover, .button.default:focus,
  input[type=submit].default:hover,
  input[type=submit].default:focus,
  .submit-row input.default:hover,
  .submit-row input.default:focus {
    background: #151313; }

.button,
input[type=submit],
input[type=button],
.submit-row input,
a.button {
  background: #413939; }
  .button:hover, .button:focus,
  input[type=submit]:hover,
  input[type=submit]:focus,
  input[type=button]:hover,
  input[type=button]:focus,
  .submit-row input:hover,
  .submit-row input:focus,
  a.button:hover,
  a.button:focus {
    background: #2b2626; }

.selector .selector-available > h2 {
  border-radius: 0; }
.selector .selector-available .selector-filter {
  position: relative; }
  .selector .selector-available .selector-filter > input[type="text"] {
    border-radius: 0;
    border: 0 none; }
.selector .selector-available > select {
  height: 14em; }
.selector .selector-chosen > h2 {
  border-radius: 0;
  background: #2b2626;
  color: white; }

#header {
  background: #2b2626;
  color: white; }
  #header #branding > #site-name a {
    display: flex;
    align-items: center; }
    #header #branding > #site-name a:hover, #header #branding > #site-name a:focus {
      color: white;
      border-bottom-color: white; }
    #header #branding > #site-name a > img {
      width: 100px; }

.module h2,
.module caption,
.inline-group h2 {
  background: #302b2b;
  color: white; }

.paginator a, .paginator a:link, .paginator a:visited {
  background: #2b2626; }
.paginator a:hover, .paginator a:focus {
  background: #151313; }

.paginator a.showall {
  color: #2b2626;
  background: none; }
  .paginator a.showall:hover, .paginator a.showall:focus {
    color: #151313;
    background: none; }

.admin-shortcuts .shortcuts {
  background: #151313;
  padding: 10px 40px;
  margin: 0;
  list-style: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset; }
  @media (max-width: 1024px) {
    .admin-shortcuts .shortcuts {
      padding-left: 30px;
      padding-right: 30px; } }
  .admin-shortcuts .shortcuts::after, .admin-shortcuts .shortcuts::before {
    content: ' ';
    display: table;
    clear: both; }
  .admin-shortcuts .shortcuts > li {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none; }
    .admin-shortcuts .shortcuts > li > a {
      padding: 20px 0 20px 55px;
      margin: 5px 10px 5px 0;
      display: block;
      float: left;
      color: white;
      border: 1px solid #151313;
      background: #1d1a1a;
      font-size: 14px;
      line-height: 14px;
      border-radius: 3px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      position: relative;
      min-height: 14px; }
      .admin-shortcuts .shortcuts > li > a.active, .admin-shortcuts .shortcuts > li > a:hover, .admin-shortcuts .shortcuts > li > a:focus {
        color: white;
        background: #393232;
        border-color: #393232; }
      .admin-shortcuts .shortcuts > li > a .shortcut-title {
        display: inline-block;
        margin-right: 20px; }
      .admin-shortcuts .shortcuts > li > a .shortcut-icon {
        width: 34px;
        height: 32px;
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        position: absolute;
        left: 10px;
        top: 10px;
        color: rgba(255, 255, 255, 0.8); }

/*# sourceMappingURL=styles.css.map */
